/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1 {
  color: rgb(231, 52, 115);
  font-size: 3.5rem;
}

p {
  font-size: 2rem;
  text-align: center;
}

/* BODY */
body {
  height: 100vh;
}

/* MAIN */
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-main {
  height: 90%;
  width: 100%;
  margin: auto 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#cards-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-width: 500px;
  height: 150px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
}

.card > img {
  max-height: 100%;
}

.description {
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: auto 30px;
  display: flex;
  flex-direction: column;
}

.description > * {
  padding: 5px 0;
}