/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* BODY */
body {
  height: 100vh;
}

/* MAIN */
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-main {
  height: 90%;
  width: 100%;
  margin: auto 70px;
  /* DEBUG */
  background-color: blue;
}